<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.UserFollowMapper">
    <sql id="columns">
        SELECT id,user_id,house_id,create_time,update_time,is_deleted
    </sql>
    <select id="findFollowById" resultType="UserFollow">
        <include refid="columns"></include>
        FROM user_follow WHERE user_id=#{userId} AND house_id = #{houseId} AND is_deleted = 0
    </select>
 <insert id="insert">
     insert into user_follow (user_id,house_id) VALUES (#{userId},#{houseId})
 </insert>

    <update id="update">
        UPDATE user_follow SET is_deleted = #{isDeleted},update_time = now() WHERE id= #{id}
    </update>


</mapper>